@model CIT365_SacramentPlanner.Models.Meeting

@{
    ViewData["Title"] = "Edit Meeting";
}

<h1>Edit Meeting</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conductor" class="control-label"></label>
                <input asp-for="Conductor" class="form-control" />
                <span asp-validation-for="Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymnNumber" class="control-label"></label>
                <input asp-for="OpeningHymnNumber" class="form-control" />
                <span asp-validation-for="OpeningHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymnNumber" class="control-label"></label>
                <input asp-for="SacramentHymnNumber" class="form-control" />
                <span asp-validation-for="SacramentHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestHymnNumber" class="control-label"></label>
                <input asp-for="RestHymnNumber" class="form-control" />
                <span asp-validation-for="RestHymnNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <input asp-for="ClosingHymn" class="form-control" />
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerOne" class="control-label"></label>
                <input asp-for="SpeakerOne" class="form-control" />
                <span asp-validation-for="SpeakerOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerTwo" class="control-label"></label>
                <input asp-for="SpeakerTwo" class="form-control" />
                <span asp-validation-for="SpeakerTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerThree" class="control-label"></label>
                <input asp-for="SpeakerThree" class="form-control" />
                <span asp-validation-for="SpeakerThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
